<form class="w-full mx-auto">
  <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
  <div class="relative">
    <div class="absolute inset-y-0 start-0 flex items-center ps-4 pointer-events-none">
      <ng-icon name="heroMagnifyingGlass" class="!w-5 !h-5 text-neutral-100"></ng-icon>
    </div>
    <input type="search" id="default-search"
      class="block w-full p-4 pl-14 ps-10  text-sm text-neutral-100 bg-neutral-300 placeholder-gray-400 border-none rounded-2xl"
      placeholder="Search" />
    <div class=" absolute end-2.5 bottom-2 flex flex-row items-center space-x-3">
      <ng-icon class="!w-6 !h-6 text-neutral-100" name="heroBell"></ng-icon>
      <img class=" w-10 h-10 rounded-full" src="assets/images/avatar.png" alt="Rounded avatar">
    </div>
  </div>
</form>