<div class="w-full max-w-sm    rounded-lg shadow bg-neutral-300  text-neutral-50">
  <div class="flex justify-between px-4 pt-4">
    <p class="font-semibold text-lg">{{task.name}}</p>
    <button [id]="'dropDownBtn'+task.id" [attr.data-dropdown-toggle]="'dropdown'+task.id"
      class="inline-block text-neutral-100  hover:bg-neutral-200 focus:ring-4 focus:outline-none focus:ring-gray-700 rounded-lg text-sm p-1.5"
      type="button">
      <span class="sr-only">Open dropdown</span>
      <ng-icon size="24" name="heroEllipsisHorizontal"></ng-icon>
    </button>
    <!-- Dropdown menu -->
    <div [id]="'dropdown'+task.id" class="z-20 hidden text-base list-none  rounded-lg shadow w-36 bg-neutral-200 border border-neutral-100">
      <ul class="py-2" [attr.aria-labelledby]="'dropDownBtn'+task.id">
        <li>
          <a href="#"
            class="block px-5 py-2 text-sm  hover:bg-gray-600 text-gray-200 dark:hover:text-white">
            <ng-icon name="heroPencil" class="mr-2"></ng-icon>
            Edit
          </a>
        </li>

        <li>
          <a href="#"
            class="block px-4 py-2 text-sm hover:bg-gray-600 text-gray-200 dark:hover:text-white">
            <ng-icon name="heroTrash" class="mr-2"></ng-icon>
            Delete
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="flex justify-between px-4 pt-4">
    <p class="font-semibold">{{task.pointEstimate | pointEstimate}}</p>
    <app-label type="neutral" [name]="task.dueDate | dueDate" icon="heroClock" />
  </div>
  <div class="flex justify-start px-4 pt-4 space-x-1">
    @for (tag of task.tags; track $index) {
      <app-label [type]="getTag(tag, 'type')" [name]="getTag(tag, 'name')" />
    }

  </div>
  <div class="flex justify-between px-4 pt-4 space-x-1 pb-4">
    <img class=" w-8 h-8 rounded-full" [src]="task.assignee.avatar" alt="Rounded avatar">

    <div class="flex flex-row items-center space-x-3">
      <ng-icon name="heroPaperClip"></ng-icon>
      <span class="flex items-center">
        {{5}} <ng-icon name="heroSquare3Stack3d"></ng-icon>
      </span>
      <span class="flex items-center">
        {{3}} <ng-icon name="heroChatBubbleLeft"></ng-icon>
      </span>
    </div>
  </div>
</div>