<div class=" flex flex-col min-w-[348px] max-w-[400px] w-full h-full">
  <h2 class="text-lg font-semibold mb-4 text-neutral-50 ">{{ column.listName }}</h2>

  <div class="flex flex-col space-y-2">
    @for (task of column.list; track task.name;) {
      <app-card [task]="task" class="cursor-move" draggable="true" (dragstart)="dragStart($event, task, column.status)"></app-card>
      }
  </div>

  <div class="min-h-36  flex-grow" (dragover)="dragOver($event)"
    (drop)="dragDrop($event, column.status)">
  </div>
</div>

